

:root{
    --color-darkblue: #0d1b3e;
    --color-darkgrey: #2a2a2a;
    --color-grey: #3b3b3b;
    --color-lightGrey: #909090;
    --color-light: #f9f9f9;
    --color-lightBrand: #fff1dd;
    --color-lighterBrand: #ec8f66;
    --color-darkBrand: #fe7338;
}